{% extends 'account/account_base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Reestablecer contraseña" %}{% endblock title %}

{% block content %}
            <div class="col-xxl-6 mx-auto">
                <div class="card-gob-top mb-0 border-1 shadow mb-0">
                    <div class="card-body p-sm-5 m-lg-4">
                        <div class="text-center mt-2">
                            <h5 class="fs-3xl">{% trans "Reestablecer contraseña" %}</h5>
                        </div>
                        <div class="p-2 mt-5">
                            {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}
                            <p class="text-muted mx-4">{% blocktrans %}Te hemos enviado un email. Por favor, contacta a la mesa de ayuda si no lo recibes en unos minutos.{% endblocktrans %}</p>
                            <div class="mt-4">
                                <a href="{% url 'dashboard' %}" class="btn btn-primary w-100">Volver al inicio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}
    