<!-- Contenido parcial para mostrar detalle dentro de un modal -->
<div class="container-fluid">
    <!-- Informacion General -->
    <div class="card-body">
        {% include 'solicitudes/partials/_detalle_info.html' %}
        {% include 'solicitudes/partials/_detalle_acciones.html' %}
    </div>

    <!-- Detalles de Articulos/Bienes -->
    {% if es_mis_solicitudes %}
        {% include 'solicitudes/partials/_detalle_items_table_mis_solicitudes.html' %}
    {% else %}
        {% include 'solicitudes/partials/_detalle_items_table_admin.html' %}
    {% endif %}

    <!-- Historial de Cambios -->
    {% include 'solicitudes/partials/_detalle_historial.html' %}
</div>
