{% if status == 'DRAFT' %}
<span class="badge bg-secondary p-2">BORRADOR</span>
{% elif status == 'PENDING_APPROVAL' or status == 'APPROVED' %}
<span class="badge bg-warning text-dark p-2">PENDIENTE</span>
{% elif status == 'IN_PROGRESS' %}
<span class="badge bg-primary text-white p-2">EN PREPARACIÓN</span>
{% elif status == 'REJECTED' %}
<span class="badge bg-danger p-2">RECHAZADA</span>
{% elif status == 'READY_FOR_PICKUP' %}
<span class="badge bg-success p-2">¡LISTO PARA RETIRAR!</span>
{% elif status == 'DELIVERED' %}
<span class="badge bg-info p-2">ENTREGADO OK</span>
{% elif status == 'CLOSED' %}
<span class="badge bg-dark p-2">CERRADA</span>
{% elif status == 'CANCELLED' %}
<span class="badge bg-secondary-subtle text-secondary p-2">CANCELADA</span>
{% else %}
<span class="badge bg-light text-dark p-2">{{ status }}</span>
{% endif %}
